.game-title {
  color: rgb(255, 122, 20);
}
.content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.cover-img {
  width: 20%;
}
#round {
  color: rgb(255, 122, 20);
}

.game-display {
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 100%;
  height: 260px;
  background-color: whitesmoke;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dislay-bar {
  width: 100%;
  height: 50px;
}
.p-score {
  float: left;
  width: 45%;
  margin: 5px;
}
.c-score {
  float: left;
  width: 45%;
  margin: 5px;
}
#player-select {
  border: 1px solid transparent;
  width: 49%;
  height: 85%;
  float: left;
}
#computer-select {
  width: 49%;
  border: 1px solid transparent;
  height: 85%;
  float: right;
}
.selection-img {
  width: 50%;
  margin: 15px;
}
.clearfix {
  clear: both;
}
.g-color {
  color: rgb(255, 122, 20);
}
.margin {
  margin: 15px;
  cursor: pointer;
}
.margin:hover {
  transform: scale(1.4);
}

footer {
  height: 50px;
  text-align: center;
  color: whitesmoke;
  background-color: rgb(255, 122, 20);
  font-size: 14px;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}
